.container {
  /* background-color: white; */
  /* border-radius: 12px; */
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); */
  padding: 2.5rem 3rem;
  width: 650px;
  text-align: center;
}
.title {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}
.subtitle {
  color: var(--border-color);
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.rolesContainer {
  display: flex;
  gap: 1.5rem;
  text-align: left;
}
.roleCard {
  width: 387px;
  height: 143px;
  border-radius: 10px;
  padding: 15px 17px 15px 25px;
  border: 2px solid #E5E7EB; /* Default border */

  /* Flex properties for internal layout */
  display: flex;
  flex-direction: column;
  gap: 17px;

  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}


.roleCard.selected {
  border-color: 3px solid var(--primary-violet);
  background-color: #F5F3FF;
  padding: 14px 16px 14px 24px;
  /* background-color: #F5F3FF; */
}
.roleCard h3 {
  margin: 0 0 0.25rem 0;
}
.roleCard p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--border-color);
}
.continueButton {
  width: 100%;
  max-width: 233.93px; 
  height: 57.58px;
  border-radius: 34px; 
  background: linear-gradient(120deg, #8F64E1, #1D68BD); 
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
  transition: filter 0.2s ease-in-out;
}

.continueButton:hover:not(:disabled) {
  filter: brightness(90%)
}
.continueButton:disabled {
  background-color: #D1D5DB;
  cursor: not-allowed;
  filter: none;
}