.container {
  width: 700px;
  position: relative;
}

.topBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.historyButton {
  width: 267px;
  height: 53px;
  background: #8F64E1;
  color: white;
  border: none;
  border-radius: 34px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  box-shadow: 0 2px 8px rgba(80, 0, 120, 0.04);
  transition: background-color 0.2s;
}


.historyButton:hover {
  background-color: #6D5ACF;
}

.newQuestionButton {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 0.5rem;
  width: 306px;          
  height: 58px;         
  
  background: linear-gradient(to right, #8F64E1, #1D68BD);
  border: none;
  border-radius: 34px;    
  color: white;
  font-size: 1rem;      
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
  padding: 0;             
}
.newQuestionButton:hover {
  background-color: #6D5ACF;
}

.questionLabel {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  color: var(--text-dark);
}